@font-face {
  font-family: Normal;
  src: url(./assets/AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: Light;
  src: url(./assets/AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: Bold;
  src: url(./assets/AeonikTRIAL-Bold.otf);
}
:root {
  --pri: #9a752f;
  --sec: #8e977d;
  --tri1: #ece7d1;
  --tri2: #c5b57f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Normal;
  color: var(--tri1);
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: var(--pri);
  /* overflow-x: hidden; */
}
nav {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: var(--sec);
}
section.allelems {
  width: 100%;
  height: 100%;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  position: absolute;
}
.elem {
  position: relative;
  border-radius: 10px;
  height: 400px;
  width: 320px;
  overflow: hidden;
  transition: all ease 0.3s;
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.elem h2 {
  position: absolute;
  font-size: 2rem;
  bottom: 4%;
  right: 5%;
  font-family: Light;
  font-weight: 300;
}
.elem:active {
  transform: scale(0.98);
}
.fullelems {
  height: 100%;
  width: 100%;
  background-color: var(--pri);
  display: none;
  position: absolute;
  padding: 40px;
}

.back{
    position: absolute;
    right: 5%;
    border: none;
    background-color: rgba(238, 9, 9, 0.893);
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 900;
    padding: 20px 25px;
    transition: all ease 0.3s;
}
.back:active{
    scale: 0.95;
}

.todo-list-fullpages{
  display: block;
}
.todo-list-fullpages h2{
  font-size: 2.5rem;
  
}
.list-container{
  
}
