@font-face {
  font-family: Normal;
  src: url(./assets/AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: Light;
  font-weight: 900;
  src: url(./assets/AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: Bold;
  src: url(./assets/AeonikTRIAL-Bold.otf);
}
:root {
  --pri: #ca9d4b;
  --sec: #5a8f1a;
  --tri1: #8d7b68;
  --tri2: #9a8c5f;
  --tri3: #322a0d;
  --red: rgb(181, 0, 0);
  --txt: #feffd3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Normal;
  color: var(--txt);
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: var(--pri);
}
nav {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: var(--sec);
}
section.allelems {
  width: 100%;
  height: 100%;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  position: absolute;
}
.elem {
  position: relative;
  border-radius: 10px;
  height: 400px;
  width: 320px;
  overflow: hidden;
  transition: all ease 0.3s;
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.elem h2 {
  position: absolute;
  font-size: 2rem;
  bottom: 4%;
  right: 5%;
  font-family: Light;
  font-weight: 300;
}
.elem:active {
  transform: scale(0.98);
}
.fullelems {
  height: 100%;
  width: 100%;
  background-color: var(--pri);
  display: none;
  position: absolute;
  padding: 40px;
}

.back {
  position: absolute;
  right: 4%;
  border: none;
  background-color: var(--red);
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 15px 20px;
  transition: all ease 0.3s;
}
.back:active {
  scale: 0.95;
}

.todo-list-fullpages {
  display: block;
}
.todo-list-fullpages h2 {
  font-size: 3rem;
}
.todo-list-fullpages .list-container {
  height: 80%;
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-list-fullpages .list-container .addtask {
  height: 100%;
  width: 35%;
  background-color: var(--tri2);
  border-radius: 20px;
}
.todo-list-fullpages .list-container .addtask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
}
.list-container .addtask form input#tasks-input {
  width: 100%;
  padding: 10px 20px;
  font-size: 2.7rem;
  background-color: var(--tri3);
  border: none;
  outline: none;
  border-radius: 7px;
  margin-bottom: 16px;
}
.list-container .addtask form textarea {
  width: 100%;
  padding: 10px 20px;
  font-size: 2rem;
  background-color: var(--tri3);
  border: none;
  outline: none;
  border-radius: 7px;
  margin-bottom: 16px;
  height: 450px;
  resize: none;
  overflow-y: auto;
}
.mark-imp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  gap: 25px;
  text-transform: capitalize;
}
.mark-imp input {
  scale: 3;
}
.mark-imp label {
  font-size: 1.7rem;
  font-family: Normal;
}
.list-container .addtask form button {
  width: 100%;
  padding: 10px 20px;
  font-size: 2rem;
  background-color: var(--sec);
  border: none;
  outline: none;
  border-radius: 7px;
  margin-bottom: 16px;
  transition: all ease 0.3s;
}
.list-container .addtask form button:active {
  scale: 0.96;
}
.todo-list-fullpages .list-container .alltask {
  height: 100%;
  width: 60%;
  background-color: var(--tri2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  overflow: auto;
}
.tasks {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--tri3);
  padding: 20px 40px;
  border-radius: 10px;
}
.tasks h4 {
  font-size: 2.5rem;
  font-family: Light;
  text-transform: capitalize;
  color: var(--txt);
}
.tasks button {
  padding: 10px 20px;
  background-color: rgb(12, 182, 12);
  border: none;
  font-size: 1.7rem;
  border-radius: 8px;
  transition: all ease 0.3s;
  font-family: Bold;
}
.tasks button:active {
  scale: 0.95;
}
.tasks button:hover {
  background-color: var(--red);
  color: var(--txt);
}
